.body{
    width: 100%;
    align-items: center;
    padding:10%;
    padding-left: 30%;
    padding-right: 30%;
}

.commentsArea{
    padding-top: 1rem;
}

@media (max-width: 1250px) {
    .body {
        padding-left: 10%;
        padding-right: 10%;
    }
  }